:root {
    --reg-fint-size: 16px;
    --reg-line-height: 24px;
    --reg-font-weight: 400;
    --reg-font-family: "Raleway";
    --logo-text-color: #4d5ae5;
}

body {
position: relative;
width: 1440px;
height: 2592px;
background: #FFFFFF;

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #434455
}

.main-header {
    position: absolute;
    width: 1440px;
    height: 72px;
    left: 0px;
    top: 0px;    
    box-sizing: border-box;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
}

.nav {
    position: absolute;
    width: 1440px;
    height: 72px;
    left: 0px;
    top: 0px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 115px;
    height: 24px;
    left: 156px;
    top: 24px;

    line-height: 1.17;
    font-size: 18px;
    font-family: var(--reg-font-family);
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
}

.logo>a {
    color: #2E2F42;
}
.logo>span {
    color: var(--logo-text-color);
}
nav>ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    
    position: absolute;
    width: 261px;
    height: 24px;
    left: 347px;
    top: 24px;
}

nav>ul>li {
  
width: 48px;
height: 24px;

/* Body Medium */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* NAVY BLUE */

color: #2E2F42;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

}
address {
    position: absolute;
    width: 1440px;
    height: 72px;
    left: 0px;
    top: 0px;
}

address>ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
}

address>ul>li {
    position: absolute;
    width: 151px;
    height: 24px;
    left: 1133px;
    top: 24px;    
    /* Body */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    letter-spacing: 0.02em;
    /* SLATE */
    color: #434455;
    flex: none;
    order: 0;
    flex-grow: 0;
}


main {
    position: absolute;
    width: 1440px;
    height: 600px;
    left: 0px;
    top: 72px;
    background: #ffffff;
    }

.section-slogan {
  /* Dark-bg */

position: absolute;
width: 1440px;
height: 600px;
left: 0px;
top: 72px;

/* NAVY BLUE */

background: #2E2F42;
}

.section-slogan>header {
/* Effective Solutions for Your Business */


position: absolute;
width: 496px;
height: 120px;
left: 472px;
top: 260px;

/* Header 1 */

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 60px;
/* or 107% */

text-align: center;
letter-spacing: 0.02em;

/* WHITE */

color: #FFFFFF;
}

button {
/* Button */
/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 32px;
gap: 10px;

position: absolute;
width: 169px;
height: 56px;
left: 636px;
top: 428px;

/* IRIS */

background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

/* Button Text */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;

/* WHITE */

color: #FFFFFF;

}
.section1 {
    /* position: absolute; */
    width: 1128px;
    height: 104px;
    left: 156px;
    top: 792px;    
}

.text-block {
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 264px;
    height: 104px;
    left: 156px;
    top: 792px;
}

.section2 {
    width: 1128px;
    height: 412px;
    left: 156px;
    top: 1016px;
}

.img-block {
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 360px;
height: 300px;
left: 156px;
top: 1128px;
}

.section3 {
    width: 1440px;
    height: 732px;
    left: 0px;
    top: 1548px;
    background: #F4F4FD;
}
.team-card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 32px;
    gap: 32px;
    
    position: absolute;
    width: 264px;
    height: 380px;
    left: 156px;
    top: 1780px;
    
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

footer {
    position: absolute;
    width: 1440px;
    height: 312px;
    left: 0px;
    top: 2280px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex-basis: 30%; /* 4 items fit in a row */
  /* add other styles as needed */
}