:root {
    --reg-fint-size: 16px;
    --reg-line-height: 24px;
    --reg-font-weight: 400;
    --reg-font-family: "Raleway";
    --logo-text-color-light: #4d5ae5;
    --logo-text-color-dark:#2E2F42;;
    --reg-text-color:#434455;
    --reg-hover-color:#404bbf;
}

body {
position: relative;
width: 1440px;
height: 2592px;
background: #FFFFFF;

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #434455
}

main {
    position: absolute;
    width: 1440px;
    height: 600px;
    left: 0px;
    top: 72px;
    background: #ffffff;
}

.list {
    list-style: none;
}

.list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
}

.link {
    text-decoration: none;
    color: var(--logo-text-color-dark);
}

.link:hover, .link:active, .link:focus {
    color:var(--reg-hover-color); 
}

.main-header {
    width: 1440px;
    height: 72px;
    left: 0px;
    top: 0px;    
    box-sizing: border-box;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
}

.nav {
    position: absolute;
    width: 1440px;
    height: 72px;
    left: 0px;
    top: 0px;
}

.logo {
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-style: normal;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--logo-text-color-light);
}

.logo:hover {
    color: #404bbf; 
}

.logo-text {
    color: var(--logo-text-color-dark)
}

.bottom-logo-text {
    color: #f4f4fd
}

.address {
    font-style: normal;
    position: absolute;
    width: 1440px;
    height: 72px;
    left: 0px;
    top: 0px;
    color: var(--reg-text-color);
}

.first-section {
  /* Dark-bg */
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    background-color: var(--logo-text-color-dark);
}

.slogan-header {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.button {
background-color: #4D5AE5;
letter-spacing: 0.04em;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

font-family: "Roboto", sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
cursor: pointer;
color: #FFFFFF;
}

.button-portfolio {
background-color:var(--logo-text-color-light);
letter-spacing: 0.04em;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

font-family: "Roboto", sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
cursor: pointer;

color: var(--logo-text-color-dark);
}

.button:hover, .button:focus {
    background-color: #404BBF;
}

.second-section {
    width: 1128px;
    height: 104px;
    left: 156px;
    top: 792px;    
}

.hidden-header {
    visibility: hidden;
}

.values-header {
    visibility: hidden;
}

.list-item-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:var(--logo-text-color-dark);
}

.values-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--reg-text-color);
}

.section-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:var(--logo-text-color-dark);
}

.fourth-section {
    width: 1440px;
    height: 732px;
    left: 0px;
    top: 1548px;
    background: #F4F4FD;
}

.footer {
    background-color: var(--logo-text-color-dark);
}

.footer-text {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-text-color-light);
}