:root {
  --reg-fint-size: 16px;
  --reg-line-height: 24px;
  --reg-font-weight: 400;
  --reg-font-family: "Raleway";
  --logo-text-color-light: #4d5ae5;
  --logo-text-color-dark: #2e2f42;
  --reg-text-color: #434455;
  --reg-hover-color: #404bbf;
  --prtf-button-bckgr-color: #f4f4fd;
}

body {
  background: #ffffff;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #434455;
}

main {
  background: #ffffff;
}

.list {
  list-style: none;
}

.list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  color: var(--reg-text-color);
}

.link {
  text-decoration: none;
  /* color: var(--logo-text-color-dark); */
}

.link:hover,
.link:active,
.link:focus {
  color: var(--reg-hover-color);
}

.main-header {
  background: #ffffff;
}

.logo {
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-style: normal;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--logo-text-color-light);
}

.logo:hover {
  color: var(--reg-hover-color);
}

.logo-text {
  color: var(--logo-text-color-dark);
}

.bottom-logo-text {
  color: #f4f4fd;
}

.address {
  font-style: normal;
  color: var(--reg-text-color);
}

.first-section {
  /* Dark-bg */
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  background-color: var(--logo-text-color-dark);
}

.slogan-header {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.button {
  background-color: #4d5ae5;
  letter-spacing: 0.04em;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  color: #ffffff;
}

.portfolio-button {
  background-color: var(--prtf-button-bckgr-color);
  letter-spacing: 0.04em;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;

  color: var(--logo-text-color-light);
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: #ffffff;
  background-color: var(--reg-hover-color);
}

.button:hover,
.button:focus,
.button:active {
  color: var(--reg-text-color);
  background-color: var(--reg-hover-color);
}

.second-section {
}

.hidden-header {
  visibility: hidden;
}

.values-header {
  visibility: hidden;
}

.list-item-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--logo-text-color-dark);
}

.values-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--reg-text-color);
}

.section-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--logo-text-color-dark);
}

.fourth-section {
  background: #f4f4fd;
}

.footer {
  background-color: var(--logo-text-color-dark);
}

.footer-text {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-text-color-light);
}
